<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <title>Nuevo Producto</title>

  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Crear Producto</h1>

<!-- El formulario hace un POST a la ruta /guardar -->
<form th:action="@{/web/productos/guardar}" th:object="${producto}" method="POST">

  <!-- Campo oculto para mantener el ID al editar -->
  <input type="hidden" th:field="*{id}" />

  <div>
    <label>Nombre:</label>
    <input type="text" th:field="*{nombre}" />
    <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" style="color: red;"></div>
  </div>
  <br>

  <div>
    <label>Descripción:</label>
    <input type="text" th:field="*{descripcion}" />
  </div>
  <br>

  <div>
    <label>Precio:</label>
    <input type="number" step="0.01" th:field="*{precio}" />
    <div th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}" style="color: red;"></div>
  </div>
  <br>

  <button type="submit">Guardar</button>
  <a th:href="@{/web/productos}">Cancelar</a>
</form>
</body>
</html>